@media (max-width: 71em) {
  .gallery-grid-item {
  height: 26rem;
}

}

@media (max-width: 62em) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .gallery-grid-item {
  height: 16rem;
}

}


/*____ SMALL SCREENS__________________________ */
/*____ iphone se 380 __________________________ */

@media (max-width: 45em) {


  nav {
    display: none;
  }

  .logo-container {
    margin-left: 1rem;
  }

  .logo-container h2 {
    font-size: 1rem;;
  }

  .mobile-nav-menu {
    display: flex;
  }

  /*____ HEADER IMAGE SLIDER___________________ */

  .header-slider {
    height: 13rem;
}

.header-slide {
  display: none;
}

.hs {
  display: none;
}

.mobile-header-slide {
  display: flex;
}

.mobile-header-slide-1 {
    display: flex;
}

.mobile-header-slide-2 {
    display: flex;
}

.mobile-header-slide-3 {
    display: flex;
}

  /*____ HOMEPAGE-GRID ___________________ */
  
  .feature-grid-item-1 img {
    transform: scale(1.6);
  }

  .feature-grid-item-8 img {
    left: .5rem;
    transform: scale(1.25);
}

  .feature-grid-item-9 img {
    transform: scale(1.3);
}




/*____ GALLERY-GRID ___________________ */


.gallery-grid-item {
  height: 10rem;
}

.gallery-grid-item-1 img {
  transform: scale(1.3);
}

.gallery-grid-item-1 img {
  transform: scale(1.2);
}

.gallery-grid-item-3 img {
  transform: scale(1.2);
}

.gallery-grid-item-4 img {
  transform: scale(1.1);
}

.gallery-grid-item-8 img {
  position: relative;
  right: -.6rem;
  top: 0rem;
  transform: scale(1.3);
}

.gallery-grid-item-9 img {
  transform: scale(1.1);
}

.gallery-grid-item-11 img {
  transform: scale(1.2);
}

.gallery-grid-item-12 img {

  transform: scale(1.2);
}

.gallery-grid-item-13 img {
  transform: scale(1.1);
}

.gallery-grid-item-14 img {
  transform: scale(1.1);
}

.gallery-grid-item-15 img {
  top: 0rem;
  transform: scale(1.3);
}

.gallery-grid-item-16 img {
  transform: scale(1.3);
}

.gallery-grid-item-18 img {
  transform: scale(1.1);
}

.gallery-grid-item-19 img {
  transform: scale(1.1);
}

.gallery-grid-item-20 img {
  transform: scale(1.3);
}

.gallery-grid-item-21 img {
  transform: scale(1.1);
}

.gallery-grid-item-23 img {
  transform: scale(1.2);
}

.gallery-grid-item-24 img {
  transform: scale(1.1);
}

.gallery-grid-item-25 img {
  transform: scale(1);
}

.gallery-grid-item-26 img {
  transform: scale(1.1);
}

.gallery-grid-item-27 img {
  transform: scale(1);
}

.gallery-grid-item-28 img {
  transform: scale(1.1);
}

.gallery-grid-item-35 img {
  transform: scale(1.1);
}


.gallery-grid-item-37 img {
  transform: scale(1.1);
}

/* ___ GALLERY SLIDER __________*/

.slider-container {
    width: 32rem;
    /* width: 40rem; */
    height: 40rem;
}

.slider {
    width: 32rem;
    /* width: 40rem; */
    height: 40rem;
}

.slide {
    width: 32rem;
    /* width: 40rem; */
    height: 40rem;

}

.slide-1 {
    width: 24rem;
    /* width: 30rem; */
    height: auto;
}

.slide-2 {
    width: 24rem;
    /* width: 30rem; */
    height: auto;
 
}

.slide-3 {
    width: 24rem;
    height: auto;
}

.slide-4 {
    width: 24rem;
    height: auto;
   
}

.slide-5 {
    width: 24rem;
    height: auto;
 
}

.slide-6 {
    width: 24rem;
    height: auto;
  
}

.slide-7 {
    width: 24rem;
    height: auto;
  
}

.slide-8 {
    width: 24rem;
    height: auto;

}

.slide-9 {
  width: 24rem;
  height: auto;
  transform: scale(.95)
}

.slide-10 {
    width: 24rem;
    height: auto;

}

.slide-11 {
   width: 24rem;
    height: auto;
  
}

.slide-12 {
 width: 24rem;
    height: auto;

}

.slide-13 {
  width: 24rem;
  height: auto;
 
}

.slide-14 {
  width: 24rem;
  height: auto;

}

.slide-14 {
  width: 24rem;
  height: auto;
 
}

.slide-15 {
  width: 24rem;
  height: auto;

}

.slide-16 {
  width: 24rem;
  height: auto;

}

.slide-17 {
  width: 24rem;
  height: auto;
  transform: scale(.95)
 
}

.slide-18 {
  width: 24rem;
  height: auto;
  
}

.slide-19 {
  width: 24rem;
  height: auto;

}

.slide-20 {
  width: 24rem;
  height: auto;
  
}

.slide-21 {
  width: 24rem;
  height: auto;
  
}

.slide-22 {
  width: 24rem;
  height: auto;
}

.slide-23 {
  width: 24rem;
  height: auto;
  transform: scale(.95)

}

.slide-24 {
  width: 24rem;
  height: auto;

}

.slide-25 {
  width: 24rem;
  height: auto;
  transform: scale(.95)

}

.slide-26 {
  width: 24rem;
  height: auto;

}

.slide-27 {
  width: 24rem;
  height: auto;
  transform: scale(.95)
 
}

.slide-28 {
  width: 24rem;
  height: auto;

}

.slide-29 {
  width: 24rem;
  height: auto;

}

.slide-30 {
  width: 24rem;
  height: auto;
  transform: scale(.95)
}

.slide-31 {
  width: 24rem;
  height: auto;
}

.slide-32 {
  width: 24rem;
  height: auto;
}

.slide-33 {
  width: 24rem;
  height: auto;
}

.slide-34 {
  width: 24rem;
  height: auto;
}

.slide-35 {
  width: 24rem;
  height: auto;
}

.slide-36 {
  width: 24rem;
  height: auto;
  transform: scale(.75)
}

.slide-37 {
  width: 24rem;
  height: auto;
 
}

.slide-38 {
  width: 24rem;
  height: auto;
 
}

.slide-39 {
  width: 24rem;
  height: auto;
  transform: scale(.95)
}


.slider-btn {
  display: none;
}

.mobile-slider-btn {
  display: flex;
}

  /*____ SHOP ___________________ */
 
  .print-grid {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*____ CART ___________________ */

.cart-container {
   width: 95%;
   min-height: 10rem;
   display: flex;
   flex-direction: column;
 }

 .cart-items-list {
   width: 100%;
   min-height: 10rem;
 }

 .cart-item {
  margin-top: 1rem;
  padding-left: 1rem;
  flex-direction: column;
}

.cart-totals {
   width: 100%;
   height: 15rem;
   min-height: 15rem;
 }

 .cart-item-image {
  height: 7rem;
  width: auto;
  border: 2px solid white;
}

.remove-btn {
  margin-left: .5rem;
}

/*____ ABOUT ___________________ */

.bio-container {
    width: 83%;
    flex-direction: column;
}

.bio-text-container {
    width: 90%;
    padding: 2rem;
}

.bio-img-container {
    max-width: 29.9rem;
}

.bio-image {
  width: 100%;
  height: auto;
}

.bio-img-container {
    height: 26rem;;
}

/*____ CONTACT ___________________ */

 form {
   width: 80%;
  }

  /*____ FOOTER ___________________ */

footer {
  flex-direction: column;
  justify-content: space-around;
}

}

