@font-face {
    font-family: Gruppo;
    src: url('./font/Gruppo/Gruppo-Regular.ttf');
}


:root {
    --color-primary: rgb(104, 250, 0);
    --color-secondary: rgb(192, 245, 0);
    --color-tertiary: rgb(192, 245, 0);
    --color-dark-1: #141515;
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    letter-spacing: .1rem;
    font-family: Gruppo
}

body {
    background-attachment: fixed;
    background-image: url(img/GLORB-BACKGROUND.jpg);
    background-position: 50% 50%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-primary);
}

button {
    border: none;
    border: 1px solid var(--color-secondary);
    padding: .2rem;
    border-radius: 5px;
    color: var(--color-secondary);
    background-color: var(--color-dark-1);
    font-family: Gruppo;
}

button:hover {
    cursor: pointer;
}

/*___________ Active - Page ________________________________________*/

.active {
  color: rgb(60, 215, 60);
}


/*___________ SECTION ________________________________________*/

 section {
     padding-top: 3rem;
     margin-bottom: 4rem;
     width: 100%;
     color: var(--color-secondary);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .section-title {
     font-size: 3rem;
     margin: 0rem 0 4rem 0;
 }

/*___________ NAV ________________________________________*/

nav {
    width: 100%;
    height: 5rem;
    background-color: black;
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 1rem;
    z-index: 4;
}

.nav-menu {
    width: 65%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-badge {
  height: 3rem;
  width: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.cart-icon {
  height: 2rem;
  fill: white;
}

.cart-items-badge-num {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(177, 245, 39);
  border-radius: 50%;
}

/*___________ MOBILE-NAV _________________________________________ */

.sticky {
  position: fixed;
}

.mobile-nav-menu {
    width: 100%;
    height: 4rem;
    z-index: 10;
    background-color: black;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-menu-group {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-cart-badge {
  z-index: 4;
  height: 2.3rem;
  width: 3.3rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-cart-icon {
  height: 1.7rem;
  fill: white;
}

.mobile-cart-items-badge-num {
  height: 1.4rem;
  width: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(177, 245, 39);
  border-radius: 50%;
}

.menu-wrap {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  z-index: 7;
  width: 30px;
  height: 30px;
  padding: 1rem;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HAMBURGER LINE */
.menu-wrap .hamburger > div {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 3;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;

}

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
} 

/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu-wrap .menu > div {
  background: rgba(4, 4, 4, 0.851);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: yellowgreen;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.4s ease;
}




/*___________ HOMEPAGE - HEADER ________________________________________*/

header {
    width: 100%;
    color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-slider {
    width: 100%;
    height: 25rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.header-slide {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-header-slide {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.header-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeinout 10s ease-in 4;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;

    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.zoom-overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: headerZoom 10s ease-in 20;

}

@keyframes headerZoom {
  0% {
      transform: scale(1);
  }

   100% {
       transform: scale(1.4);
   }

}

.header-slide-1 {
    width: 100%;
}

.header-slide-2 {
    width: 100%;
}

.header-slide-3 {
    width: 100%;
}

.mobile-header-slide-1 {
    width: 100%;
    display: none;
}

.mobile-header-slide-2 {
    width: 100%;
    display: none;
}

.mobile-header-slide-3 {
    width: 100%;
    display: none;
}




/*___________ Welcome blurb ____________________*/

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.welcome-container {
  width: 70%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.386);
  animation: fadeIN 3s ease forwards;
}

@keyframes fadeIN {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome-container h1 {
  color: var(--color-primary);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.welcome-container p {
  color: white;
}

.blurb-button {
  margin: 2rem 0rem;
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 250ms;
}

.blurb-button:hover {
  color: white;
  border: 1px solid white;
}

/*___________ GALLERY blurb ____________________*/  

.gallery-blurb-container {
  width: 90%;
  height: 35rem;
  padding: 2rem;
  border-radius: 5px;
  background-image: url('./img/BLURB-Azures.jpg');
  background-size: cover;
  background-position: 0% 50%;
  border: 1px solid yellowgreen;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.gallery-blurb-text-container {
  width: 25%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.735);
}

.gallery-blurb-text-container h3 {
  color: yellowgreen;
}

.gallery-blurb-text-container h1 {
  color: var(--color-primary);
  margin: 1rem 0rem;
}

.gallery-blurb-text-container p {
  color: white;
}

.blurb-gallery-button {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: black;
}

/*___________ PRINT SHOP blurb ____________________*/  

.shop-blurb-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.386);
}
  
.shop-blurb-text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.shop-blurb-text-container h3 {
  color: yellowgreen;
}

.shop-blurb-text-container h1 {
  color: var(--color-primary);
  margin: 1rem 0rem;
}

.shop-blurb-text-container p{
  color: white;
}

.blurb-shop-button {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: black;
}

  .shop-blurb-container img {
    width: 60%;
    height: auto;
    border: 5px solid white;
  }


/*___________ APPLEJAM BLURB____________________*/  


  .applejam-container {
    padding: 1rem;
    width: 95%;
    border: 1px solid yellowgreen;
    background-color: rgba(0, 0, 0, 0.509);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .applejam-applehead-container {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }

  .applejam-applehead-container img {
    width: 100%;
    height: auto;
  }

  .applejam-column-2  {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }


.applejam-text-container {
  width: 100%;
  padding: 1rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applejam-text-container h1 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.applejam-image-container {
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.applejam-image-container img {
  width: 45%;
  height: auto;
}


/*___________ HOME-PAGE GRID-GALLERY ____________________*/

.feature-grid {
    width: 92%;
    padding: 2rem 1rem;
    border-radius: 5px;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0.5rem;
  }

  .feature-grid-item {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
  }

  .feature-grid-img:hover {
    opacity: .92;
  }
  
  .feature-grid-item img {
    width: 100%;
    height: auto;
  }
  
  .feature-grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .feature-grid-item-1 img {
      transform: scale(1.2);
  }
  
  .feature-grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .feature-grid-item-2 img {
    transform: scale(1.2);
}
  
  .feature-grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .feature-grid-item-3 img {
    transform: scale(1.2);
}

.feature-grid-item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

.feature-grid-item-4 img {
    transform: scale(1.1);
}

.feature-grid-item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

.feature-grid-item-5 img {
    transform: scale(1.2);
}

.feature-grid-item-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .feature-grid-item-6 img {
    
    transform: scale(1.2);
}

.feature-grid-item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .feature-grid-item-7 img {
    transform: scale(1.2);
}

.feature-grid-item-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .feature-grid-item-8 img {
    position: relative;
    right: -2rem;
    transform: scale(1.25);
}

.feature-grid-item-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

.feature-grid-item-9 img {
    transform: scale(1.3);
}

.feature-grid-item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .feature-grid-item-10 img {
    transform: scale(1.1);
}

.feature-grid-item-11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.feature-grid-item-12 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.feature-grid-item-12 img {
    transform: scale(1.2);
}

.feature-grid-item-13 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

/*___________ GALLERY - GRID ________________________________________*/
.gallery-grid {
  width: 92%;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 0.5rem;
  animation: fadein 1.5s ease-in;
}

.gallery-grid-item {
  background-color: black;
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-grid-img:hover {
  opacity: .92;
}

.gallery-grid-item img {
  width: 100%;
  height: auto;
}

.gallery-grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-grid-item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-grid-item-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-grid-item-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-grid-item-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery-grid-item-8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery-grid-item-9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery-grid-item-10 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery-grid-item-11 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery-grid-item-12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery-grid-item-13 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gallery-grid-item-14 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gallery-grid-item-15 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gallery-grid-item-16 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.gallery-grid-item-17 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.gallery-grid-item-18 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.gallery-grid-item-19 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

.gallery-grid-item-20 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

.gallery-grid-item-21 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

.gallery-grid-item-22 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

.gallery-grid-item-23 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

.gallery-grid-item-24 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

.gallery-grid-item-25 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
}

.gallery-grid-item-26 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

.gallery-grid-item-27 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
}

.gallery-grid-item-28 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}

.gallery-grid-item-29 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

.gallery-grid-item-30 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}

.gallery-grid-item-31 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12;
}

.gallery-grid-item-32 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
}

.gallery-grid-item-33 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12;
}

.gallery-grid-item-34 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 12;
  grid-row-end: 13;
}


.gallery-grid-item-35 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 13;
}

.gallery-grid-item-36 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 13;
}

.gallery-grid-item-37 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 13;
  grid-row-end: 14;
}

.gallery-grid-item-38 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 14;
}

.gallery-grid-item-39 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 14;
}

/*___________ GALLERY - SLIDER ________________________________________*/

.slider-container {
    width: 66rem;
    height: 55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: fadein 1s ease-in;
}

.slider {
    width: 50rem;
    height: 55rem;
    background-color:black;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 50rem;
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    /* transition: transform 1s; */

}

.slide-1 {
    width: auto;
    height: 55rem;
    transform: scale(.95)
}

.slide-2 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
 
}

.slide-3 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-4 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-5 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-6 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-7 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-8 {
    height: 55rem;
    width: auto;
    transform: scale(.95)
}

.slide-9 {
  height: 55rem;
  width: auto;
  transform: scale(.9)
}

.slide-10 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-11 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-12 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-13 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-14 {
  height: 55rem;
  width: auto;
  transform: scale(.9)
}

.slide-14 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-15 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-16 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-17 {
  height: 55rem;
  width: auto;
  transform: scale(.9)
}

.slide-18 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-19 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-20 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-21 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-22 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-23 {
  height: 55rem;
  width: auto;
  transform: scale(.75)
}

.slide-24 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-25 {
  height: 55rem;
  width: auto;
  transform: scale(.8)
}

.slide-26 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-27 {
  height: 55rem;
  width: auto;
  transform: scale(.68)
}

.slide-28 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-29 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-30 {
  height: 55rem;
  width: auto;
  transform: scale(.75)
}

.slide-31 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-32 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-33 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-34 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-35 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-36 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-37 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-38 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}

.slide-39 {
  height: 55rem;
  width: auto;
  transform: scale(.95)
}







.slider-controls {
    width: 25rem;
    height: 4rem;
    padding: .5rem;
    /* background-color: rgb(26, 26, 26); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-btn {
    width: 6rem;
    height: 2rem;
}

.slider-btn:hover {
    color: white;
    background: black;
    border: 1px solid white;

}

.mobile-slider-btn {
  display: none;
   width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.mobile-slider-btn:hover {
   color: white;
    background: black;
    border: 1px solid white;
}

.dot-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.dot {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0 .25rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.dot:hover {
    background-color: white;
}

/*___________ ABOUT ________________________________________*/

.bio-container {
    padding: 2rem;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.536);
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.bio-text-container {
    width: 60%;
    padding: 3rem;
    font-size: 1.4rem;
    line-height: 2rem;

}

.bio-img-container {
    height: 40rem;
    width: auto;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.bio-image {
  height: 40rem;;
  width: auto;

}

.photo-site-link {
  color: var(--color-primary);
}


/*___________ SHOP.HTML ______________________________*/


.go-to-cart-link {
  color: black;
  margin-left: auto;
  margin-right: 3rem;
}

.print-grid {
  width: 95%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.print-text-box {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ptb-1 {
  font-size: 1.3rem;
}

.ptb-2 {
  font-size: 1rem;
}

.ptb-3 {
  font-size: 1.5rem;
  color: rgb(60, 215, 60);
}

.print-grid-item {
  width: 80%;
  /* width: 20rem; */
  height: 25rem;
  padding: 2rem;
  border: 1px solid yellowgreen;
  background-color: rgba(5, 5, 5, 0.708);
  /* background-color: rgb(63, 63, 63); */
  color: white;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.add-to-cart-btn {
  margin-top: 1rem;
  border: 1px solid white;
  background-color:black;
  color: white;
  padding: 0.7rem 1.7rem;
}

.add-to-cart-btn:hover {
  background-color: black;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: 0.3s ease-in-out;
}

.sold-out {
  color: red;
  border: 1px solid red;
}

.print-grid-item img {
  border: 3px solid white;
  height: 15rem;
  width: auto;
}

 /*___________ CART ________________________________________*/

 .cart-container {
   width: 95%;
   min-height: 40rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 2px solid yellowgreen;
   border-radius: 5px;
   overflow: hidden;
 }

 .cart-items-list {
   width: 70%;
   min-height: 80rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(5, 5, 5, 0.708);
 }

 .cart-item {
  margin: 1rem;
  padding-left: 3rem;
  width: 90%;
  height: 11rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(40, 39, 39);
  border: 1px solid yellowgreen;
  color: white;
}

.cart-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-image {
  height: 8rem;
  width: auto;
  border: 8px solid white;
}

.cart-item-stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remove-btn {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn:hover {
  background-color: red;
  transition: 0.3s ease-in-out;
}

.cart-image-container .cart-item-text {
  font-size: 1.2rem;
}

.unit-container {
  width: 5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-control {
 height: 1.5rem;
 width: 1.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;
 color: yellowgreen;
 border: 1px solid yellowgreen;
 border-radius: 50%;
 transition: 250ms;
}

.unit-control:hover {
  color: white;
  border: 1px solid white;
}

 .cart-totals {
   width: 30rem;
   height: 80rem;
   min-height: 40rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: rgb(63, 63, 63);
   color: white;
 }

 .cart-totals-container {
   width: 80%;
   margin: 3rem 1rem;;
   font-size: 1.7rem;
   display: flex;
   flex-direction: column;

 }

 .checkout-button {
   margin-top: 2rem;
   width: 15rem;
   height: 5rem;
   font-size: 1.3rem;
   background-color: black;
   color: yellowgreen;
   border-radius: 1px solid yellowgreen;
 }

 .checkout-button:hover {
   color: white;
   border: 1px solid white;
 }

 .cart-empty {
   position: relative;
   top: 6rem;
 }


/*___________ CONTACT ________________________________________*/

    .contact-email {
        color: white;
      }
      
      .contact {
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      form {
        background-color: rgba(5, 5, 5, 0.608);
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
        border-radius: 5px;
        width: 50%;
        height: 33rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
      }
      
      .form-group {
        display: flex;
        flex-direction: column;
      }
      
      .form-text {
        color: black;
      }
      
      .name-row {
        width: 100%;
        flex-direction: column;
      }
      
      input {
        color: white;
      }
      
      #first-name {
        width: 30%;
      }
      
      #last-name {
        width: 60%;
      }
      
      #email {
        width: 40%;
      }
      
      #subject {
        width: 75%;
      }
      
      #message {
        width: 100%;
        height: 15rem;
      }
      
      .submit-button {
        width: 100%;
        height: 15rem;
        margin-top: 2rem;
        background-color: black;
        color: white;
        border: 1px solid white;
      }
      
      .submit-button:hover {
        background-color: black;
        color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        transition: 0.3s ease-in-out;
      }
      
      .form-status {
        width: 25rem;
        height: 13rem;
        padding: 1rem;
        margin: 2rem;
        opacity: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
      }
      
      .form-status-success {
        border: 1px solid var(--color-secondary);
        animation: statusMSG 10s ease-in-out forwards;
      }
      
      .form-status-error {
        border: 1px solid red;
        animation: statusMSG 10s ease-in-out forwards;
      }
      
      @keyframes statusMSG {
        0% {
          opacity: 0;
        }
      
        10% {
          opacity: 1;
        }
      
        90% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
      }
/*___________ FOOTER ________________________________________*/

footer {
    width: 100%;
    height: 10rem;
    color: white;
    background-color: black;
    border-top: 1px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-legal {
 margin-left: 2rem;
}

.social-container {
    width: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;

}

.social-container a:hover .social-logo {
    background-color: var(--color-primary);
}

.social-logo {
    height: 2rem;
    width: 2rem;
    padding: .25rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
}
